 /* frontend/src/pages/PasswordGeneratorPage.css */
 .password-generator-operation-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 700px;
    margin: 5px auto;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
}

.password-generator-operation-page h2 {
    margin-bottom: 20px;
    font-size: 1.7rem; 
    color: #111;
}

.password-generator-operation-page label {
    display: block;
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #333; 
}

.password-generator-operation-page input[type="text"],
.password-generator-operation-page input[type="number"] {
    margin-left: 10px;
    padding: 12px;
    width: 250px;
    max-width: 100%; 
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}
.password-generator-operation-page input[type="text"]:focus,
.password-generator-operation-page input[type="number"]:focus {
    outline: none;
    border: 1px solid #007bff;  
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3); 
}
.password-generator-operation-page input::placeholder {
    color: #bbb; 
}

.password-generator-operation-page input[type="number"] {
    max-width: 100px;
}

.password-generate-button {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007FFF; 
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.password-generate-button:hover {
    background-color: #395B64;
    padding: 10px 30px;
}

.password-generator-result {
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    width: 100%;
    min-height: 50px;
    font-size: 16px;
    color: #000;
    background-color: #f9f9f946;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.history{
    width: 100%;
    margin-top: 10px;
}    
 .history th, .history td{
    background-color: #F6F5F2;

} 
.history th{
    font-weight: bold;
}

.history h3 {
    font-size: 1.3rem;
    color: #111;
}

.history td {
    text-align: center;
}

