/* global styles sheet  */
body {
  font-family: 'Merriweather', 'Alegreya';
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  background-image: url("../../public/assets/appLogo/background.svg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
