.change-font-operation-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.change-font-operation-page h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.change-font-result {
    margin-top: 20px;
    padding: 10px;
    width: 140%;
    min-height: 50px;
    font-size: 16px;
    color: #111;
    background-color: #f9f9f946;
    border-radius: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
}

.change-font-save-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.save-buttons button {
    flex: 1;
  }
.change-font-button {
    font-family: 'Merryweather';
    font-size: 16px;
    padding: 10px 22px;
    margin-top: 5px;
    border: none;
    background-color: #007FFF;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, padding 0.3s ease;
}
.change-font-button:hover {
    background-color: #395B64;
    padding: 10px 30px;
}
  